rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /spaces/{spaceId} {
      allow get, write: if true;
      allow list: if false;
      match /{collection}/{docId} {
        allow read, write: if true;
      }
    }
  }
}
